.AmazonServices__wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  font-size: 12px;
  background-color: #131a22;
  padding: 5rem;
  //   margin: 30px 0 0;
  text-align: start;
  align-items: center;
  .AmazonServices__container {
    margin: 1rem;
    padding: 1rem;
    .AmazonServices__title {
      color: #fff;
      font-weight: 600;
    }
    .AmazonServices__desc {
      color: #9e9d9d;
    }
  }
}
