.MidFooter__wrapper {
  background-color: #232f3e;
  .MidFooter__container {
    display: flex;
    justify-content: space-around;
  }
  border-bottom: 1px solid #3a4553;
  border-top: 1px solid #3a4553;
  .MidFooter__amazon__icon__container {
    width: 10%;
  }
}
